<div class="row">


			<% @articles.each do |article| %>

			<b><%= article.title %></b>

			<p><%= article.content.truncate(20) %>
				
				<%= link_to 'read more', article_path(article.id) %>
			</p>

			<h4>status : <%= article.status %></h4>

			<p>
				<span><%= link_to 'edit', edit_article_path(article.id)%></span>
				<span>|</span>
				<span><%= link_to 'delete', article_path(article.id), method: "DELETE", data: {confirm: 'Delete this data ?'} %></span>
			</p>
			<br/>
			
			<hr/>

			<% end %>
			<%= paginate @articles, remote: true %>

</div>
 <p>
        Add New Article:
        
        <%= link_to 'Add', new_article_path %>
      </p>

      <h3>Import Articles</h3>
      <%= form_tag import_articles_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import" %>
      <% end %>