<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title><%= content_for?(:title) ?
    yield(:title) : "Myapp" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head> 
  <body style="padding-top:100px;">
   <div class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
         
          <div class = "navbar-brand">My Blog</div>
        </div>
      </div>    
    </div>
    <!--Put Content website here -->
 <!-- Bagian Content -->
    <div class="container clearfix">
      <div class="row row-offcanvas row-offcanvas ">
        <!--Bagian Kiri-->
        <div class="col-xs-12 col-sm-4 side sidebar-offcanvas" role="navigation">
          
                    <%= render "list" %>
          
        </div>
        
        
      </div>
    </div>
  </body>
</html>
